/*redes sociales*/

.fott_container{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.fott_redes{
    padding: 0 15px 15px 15px;
   
}

@media screen and(max-width: 1300px){
    .fott_redes{
        margin-bottom: .5%;
    } 
  
}   
@media screen and (max-width:600px){
    .fott_container{
        display: block;
        justify-content: column;
        justify-items: center;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .fott_redes{
        width: 16px;
    }
    .cop{
        margin-bottom: 20px;
    }
}